@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>Новостная лента</h1>
<body>
    <img src="~/css/1.jpg" width="100px">
</body>
