
<h1 style="color:Orange">Add new User</h1>
<div align="left">
    <body>
        <form method='post'>
            <img src="~/css/ADD.png" width="400px" align="right">
        </form>
        <form asp-controller="Admin" asp-action="Index2">
            <label>Email</label><br />
            <input name='email' /><br />
            <input type='submit' value='Send' />
        </form>
    </body>
</div>
