<h1 style="color:red">Пользователь с email @ViewBag.Message уже есть в БД</h1>
<p>Введите пользовтеля с другим email</p>
<div class="container-fluid">
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="AddNewUser">Registration User</a>
            </li>
        </ul>
    </div>
</div>