@{
    ViewData["Title"] = "Home Page";
}
<h1 style="text-align:center">Welcome to the Banking System</h1>
<p>
    <em>
    <img src="~/css/BANK.png" width="350px" align="right">
    <font size="6" color="white" face="Ghost Type B">To register, go to the "Registr" tab, which is located on the right side<br/>
    For authorization, go to the "Login" tab, which is located on the right side
</em>
</p>