@{
    ViewData["Title"] = "Administration";
}
<h1>@ViewData["Title"]</h1>

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand text-white" asp-area="" asp-controller="Authorization" asp-action="Index">Back</a>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="DataUser">Data User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="DataCard">Data Card</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="AddNewUser">Add New User</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
