html {
  font-size: 14px;
}

@media (min-width: 768px) {
    html {
    font-size: 16px;
  }

}
.heading1 {
    font-weight: bold;
    font-size: large;
    color: lime;
    font-family: Verdana, Arial, Sans-Serif;
}
html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color: DarkBlue;
}